@model IEnumerable<Field>

<h2>Seznam Hřišť</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var field in Model)
        {
            <tr>
                <td>@field.Id</td>
                <td>@field.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@field.Id">Detail</a> |
                    <a asp-action="Edit" asp-route-id="@field.Id">Editovat</a> |
                    <a asp-action="Delete" asp-route-id="@field.Id">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Přidat nové hřiště</a>
